In [2]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
groceryData=pd.read_csv("data\GroceryStoreDataSet.csv",names=['Products'],header=None)

In [5]:
groceryData.head()

                        Products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [6]:
groceryData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Products  20 non-null     object
dtypes: object(1)
memory usage: 288.0+ bytes

In [7]:
items=[]
for i in groceryData.values:
    items.extend( i[0].split(",")  )
items=list(set(items))
items

['COCK',
 'BREAD',
 'BISCUIT',
 'MILK',
 'BOURNVITA',
 'MAGGI',
 'CORNFLAKES',
 'COFFEE',
 'TEA',
 'JAM',
 'SUGER']

In [8]:
df=pd.DataFrame(data=0,columns=items,index=range(len(groceryData)))
for i in df.columns:
    df[i] = groceryData['Products'].str.contains(i)
df

,COCK,BREAD,BISCUIT,MILK,BOURNVITA,MAGGI,CORNFLAKES,COFFEE,TEA,JAM,SUGER
0,False,True,True,True,False,False,False,False,False,False,False
1,False,True,True,True,False,False,True,False,False,False,False
2,False,True,False,False,True,False,False,False,True,False,False
3,False,True,False,True,False,True,False,False,False,True,False
4,False,False,True,False,False,True,False,False,True,False,False
5,False,True,False,False,True,False,False,False,True,False,False
6,False,False,False,False,False,True,True,False,True,False,False
7,False,True,True,False,False,True,False,False,True,False,False
8,False,True,False,False,False,True,False,False,True,True,False
9,False,True,False,True,False,False,False,False,False,False,False
10,True,False,True,False,False,False,True,True,False,False,False
11,True,False,True,False,False,False,True,True,False,False,False
12,False,False,False,False,True,False,False,True,False,False,True
13,True,True,False,False,False,False,False,True,False,False,False
14,False,True,True,False,False,False,False,False,False,False,True
15,False,False,False,False,False,False,True,True,False,False,True
16,False,True,False,False,True,False,False,False,False,False,True
17,False,True,False,False,False,False,False,True,False,False,True
18,False,True,False,False,False,False,False,True,False,False,True
19,False,False,False,True,False,False,True,True,True,False,False

The data frame is ready now. Lets dive into exploring the association between items. We will take 0.1 as min support value. That will eliminate any item has less than 0.1 support value.

In [9]:
df_freq = apriori(df, min_support = 0.1, use_colnames = True)
df_freq

    support                             itemsets
0      0.15                               (COCK)
1      0.65                              (BREAD)
2      0.35                            (BISCUIT)
3      0.25                               (MILK)
4      0.20                          (BOURNVITA)
5      0.25                              (MAGGI)
6      0.30                         (CORNFLAKES)
7      0.40                             (COFFEE)
8      0.35                                (TEA)
9      0.10                                (JAM)
10     0.30                              (SUGER)
11     0.10                      (COCK, BISCUIT)
12     0.10                   (COCK, CORNFLAKES)
13     0.15                       (COCK, COFFEE)
14     0.20                     (BREAD, BISCUIT)
15     0.20                        (BREAD, MILK)
16     0.15                   (BREAD, BOURNVITA)
17     0.15                       (MAGGI, BREAD)
18     0.15                      (COFFEE, BREAD)
19     0.20                         (BREAD, TEA)
20     0.10                         (BREAD, JAM)
21     0.20                       (BREAD, SUGER)
22     0.10                      (MILK, BISCUIT)
23     0.10                     (MAGGI, BISCUIT)
24     0.15                (CORNFLAKES, BISCUIT)
25     0.10                    (COFFEE, BISCUIT)
26     0.10                       (TEA, BISCUIT)
27     0.10                   (CORNFLAKES, MILK)
28     0.10                     (TEA, BOURNVITA)
29     0.10                   (SUGER, BOURNVITA)
30     0.20                         (MAGGI, TEA)
31     0.10                         (MAGGI, JAM)
32     0.20                 (COFFEE, CORNFLAKES)
33     0.10                    (CORNFLAKES, TEA)
34     0.20                      (COFFEE, SUGER)
35     0.10          (COCK, CORNFLAKES, BISCUIT)
36     0.10              (COCK, COFFEE, BISCUIT)
37     0.10           (COCK, COFFEE, CORNFLAKES)
38     0.10               (BREAD, MILK, BISCUIT)
39     0.10              (BREAD, TEA, BOURNVITA)
40     0.10                  (MAGGI, BREAD, TEA)
41     0.10                  (MAGGI, BREAD, JAM)
42     0.10               (COFFEE, BREAD, SUGER)
43     0.10                (MAGGI, TEA, BISCUIT)
44     0.10        (COFFEE, CORNFLAKES, BISCUIT)
45     0.10  (COCK, COFFEE, CORNFLAKES, BISCUIT)

In [10]:
association_rules(df_freq, metric = "lift", min_threshold = 1).sort_values(by=['antecedent support','confidence'],ascending=False).reset_index(drop=True).head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BREAD),(MILK),0.65,0.25,0.20,0.307692,1.230769,0.0375,1.083333
1,(BREAD),(SUGER),0.65,0.30,0.20,0.307692,1.025641,0.0050,1.011111
2,(BREAD),(BOURNVITA),0.65,0.20,0.15,0.230769,1.153846,0.0200,1.040000
3,(BREAD),(JAM),0.65,0.10,0.10,0.153846,1.538462,0.0350,1.063636
4,(BREAD),"(BISCUIT, MILK)",0.65,0.10,0.10,0.153846,1.538462,0.0350,1.063636
5,(BREAD),"(TEA, BOURNVITA)",0.65,0.10,0.10,0.153846,1.538462,0.0350,1.063636
6,(BREAD),"(MAGGI, JAM)",0.65,0.10,0.10,0.153846,1.538462,0.0350,1.063636
7,(COFFEE),(CORNFLAKES),0.40,0.30,0.20,0.500000,1.666667,0.0800,1.400000
8,(COFFEE),(SUGER),0.40,0.30,0.20,0.500000,1.666667,0.0800,1.400000
9,(COFFEE),(COCK),0.40,0.15,0.15,0.375000,2.500000,0.0900,1.360000
10,(COFFEE),"(COCK, BISCUIT)",0.40,0.10,0.10,0.250000,2.500000,0.0600,1.200000
11,(COFFEE),"(COCK, CORNFLAKES)",0.40,0.10,0.10,0.250000,2.500000,0.0600,1.200000
12,(COFFEE),"(BREAD, SUGER)",0.40,0.20,0.10,0.250000,1.250000,0.0200,1.066667
13,(COFFEE),"(CORNFLAKES, BISCUIT)",0.40,0.15,0.10,0.250000,1.666667,0.0400,1.133333
14,(COFFEE),"(COCK, CORNFLAKES, BISCUIT)",0.40,0.10,0.10,0.250000,2.500000,0.0600,1.200000
15,(TEA),(MAGGI),0.35,0.25,0.20,0.571429,2.285714,0.1125,1.750000
16,(BISCUIT),(CORNFLAKES),0.35,0.30,0.15,0.428571,1.428571,0.0450,1.225000
17,(BISCUIT),(COCK),0.35,0.15,0.10,0.285714,1.904762,0.0475,1.190000
18,(BISCUIT),(MILK),0.35,0.25,0.10,0.285714,1.142857,0.0125,1.050000
19,(BISCUIT),(MAGGI),0.35,0.25,0.10,0.285714,1.142857,0.0125,1.050000

# Result

We can see the item which is getting sold the most is in the "antecedents" column with its support value in the "antecedent support" column. So 1) BREAD 2) COFFEE 3) TEA are getting sold the most.
After getting the first item in the "antecedent"(with "antecedent support" frequency), in the "consequents" column we can see the item which are most probably will be sold together(with "confidence" value frequency)
"confidence" tells us how sure we are about selling the 2. item after selling the 1. item(that might(not) be the impact of first item , while "lift" tells how selling the 1. item affect the proabability of selling the 2. item.
So based on the result some strategical actions can be taken to increase selling items. Also new products can be tried and after analysing the results, the best ones can be replaced with the items which are not getting sold well.

# Bonus

We can also count the items and sort them based on the how frequently they have been sold as 2/3/4 items

In [11]:
df_freq['item_count'] = df_freq['itemsets'].apply(lambda x:len(x))

In [12]:
df_freq[(df_freq['item_count']==2) & (df_freq['support']>0.1)].sort_values(by='support',ascending=False)

    support               itemsets  item_count
14     0.20       (BREAD, BISCUIT)           2
15     0.20          (BREAD, MILK)           2
19     0.20           (BREAD, TEA)           2
21     0.20         (BREAD, SUGER)           2
30     0.20           (MAGGI, TEA)           2
32     0.20   (COFFEE, CORNFLAKES)           2
34     0.20        (COFFEE, SUGER)           2
13     0.15         (COCK, COFFEE)           2
16     0.15     (BREAD, BOURNVITA)           2
17     0.15         (MAGGI, BREAD)           2
18     0.15        (COFFEE, BREAD)           2
24     0.15  (CORNFLAKES, BISCUIT)           2